services:
  web:
    build: .
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    stdin_open: true
    tty: true
    command: >
      sh -c "python manage.py makemigrations --noinput && 
            python manage.py migrate --noinput && 
            python manage.py collectstatic --noinput && 
            python manage.py runserver 0.0.0.0:8080"